body{
    background-color: #E5E5E5;
}
a, p{
    font-family: "Open Sans", sans-serif;
}
header {
    top:0;
    background-color: #FFFFFF;
    position: fixed;
    height: 56px;
    width: 1280px;

    z-index: 3;
}
.logo {
    position: absolute;
    margin-top: 4px;
    margin-left: 101px;
}
.navigation{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 470px;
}
.menu:hover{
    color: #000000;
    text-decoration: none;
    border-bottom: 3px solid #000000;
    padding-bottom: 3px;
}
.menu{
    margin-top: 18px;
    margin-left: 18px;

    font-weight: 600;
    font-family: "Source Code Pro", serif;
    font-size: 20px;
}
.number {
    margin-top: 18px;
    margin-left: 36px;

    color: #3F3D56;
    font-weight: 700;
    font-size: 20px;
}
.communication{
    margin-left: 17px;
    margin-top: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
    width: 174px;
    height: 40px;
}
.comm_text {
    font-family: "Source Code Pro", serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;

}
.body_site {
    top: 56px;
    position: relative;
}
.slogan {
    display: flex;
}
h1{
    margin-top: 56px;
    margin-left: 96px;

    font-family: "Open Sans", sans-serif;
    font-size: 55px;
    font-weight: 700;

}
.logo_imagine {
    position: absolute;
    margin-top: 222px;
    margin-left: 625px;
}
.logo_outline{
    position: absolute;
    top: 156px;
    left: 621px;
    z-index: -100;
}
.text1{
    margin-top: 130px;

    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    vertical-align: top;
    font-size: 40px;
}
.hr_slogan{
    margin-right: 981px;
    width: 200px;
    font-size: 40px;
    border: 3px solid #B4ABAB;
}
.text2 {
   font-family: "Source Code Pro", sans-serif;
    font-weight: 400;
    font-size: 30px;
    height: 60px;
    width: 463px;
}
h2 {
    font-family: "Open Sans", sans-serif;
    margin-top: 308px;
    margin-left: 376px;

    font-weight: 700;
    font-size: 55px;

    height: 25px;
    width: 528px;
}
h3 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    margin-top: 120px;
    margin-left: 108px;

    font-weight: 600;
    font-size: 40px;

    height: 77px;
    width: 448px;
}
.hr_simple_with_us{
    margin-left: 108px;
    width: 200px;
    font-size: 40px;
    border: 3px solid #B4ABAB;
}
.p_simple_with_us {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;

    margin-left: 108px;
    height: 150px;
    width: 455px;

}
.development_img{
    position: absolute;
    margin-left: 619px;
    margin-top: 140px;
}
.about_us {
    margin-top: 98px;
    margin-left: 97px;
}
/*выбери сферу своего бизнеса */
.business_text{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #3F3D56;

    margin-top: 120px;
    margin-left: 246px;
    height: 25px;
    width: 787px;
}
.business_advantages {
    display: flex;
    flex-wrap: wrap;
    Width:1231px;
    Height:640px;
    margin-top: 120px;
    margin-left: 24px;
}
/*торговля продуктами*/
.block_shopping {
    margin-left: 76px;

    width: 525px;
    height: 305px;

    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border: 1.5px solid #3F3D56;
    box-sizing: border-box;
    box-shadow: 0px 0px 1.04139px rgba(0, 0, 0, 0.08), 0px 1.04139px 12.4967px rgba(0, 0, 0, 0.08);
    border-radius: 7.28973px
}
.shopping_girl{
    position: absolute;
    margin-left: 233px;
    margin-top: 6px;

    width: 330px;
    height: 275px;
}
.border_shopping_girl {
    margin-left: 295px;
    margin-top: 85px;

    width: 201px;
    height: 212px;
}
.food_trade_text{
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    z-index: 2;

    margin-top: 39px;
    margin-left: 109px;
}
/*другая торговля*/
.block_other_shopping{
    margin-left: 30px;

    width: 525px;
    height: 305px;

    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    box-shadow: 0px 0px 1.04139px rgba(0, 0, 0, 0.08), 0px 1.04139px 12.4967px rgba(0, 0, 0, 0.08);
    border-radius: 7.28973px;
}
.other_shopping_text{
    position: absolute;
    font-family: "Open cSans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    z-index: 2;


    margin-top: 39px;
    margin-left: 658px;
}
.other_shopping{
    position: absolute;
    margin-left: 233px;
    margin-top: 6px;

    width: 330px;
    height: 275px;
}
.border_other_shopping {
    margin-left: 295px;
    margin-top: 80px;

    width: 209px;
    height: 217px;
}
/*общепит*/
.block_catering{
    margin-left: 77px;

    width: 525px;
    height: 305px;

    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    box-shadow: 0px 0px 1.04139px rgba(0, 0, 0, 0.08), 0px 1.04139px 12.4967px rgba(0, 0, 0, 0.08);
    border-radius: 7.28973px;
}
.catering_text{
    position: absolute;
    font-family: "Open cSans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    z-index: 2;

    margin-top: 369px;
    margin-left: 109px;
}
.catering{
    position: absolute;
    margin-top: 27px;
    margin-left: 195px;

    width: 327px;
    height: 253px;
}
/*услуги*/
.block_services{
    margin-left: 29px;

    width: 525px;
    height: 305px;

    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    box-shadow: 0px 0px 1.04139px rgba(0, 0, 0, 0.08), 0px 1.04139px 12.4967px rgba(0, 0, 0, 0.08);
    border-radius: 7.28973px;
}
.services_text{
    position: absolute;
    font-family: "Open cSans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    z-index: 2;

    margin-top: 369px;
    margin-left: 656px;
}
.border_services {
    position: absolute;
    margin-left: 306px;
    margin-top: 71px;

    z-index: 1;
    width: 209px;
    height: 217px;
}
.services{
    position: absolute;
    margin-left: 228px;
    margin-top: 27px;

    z-index: 2;
    Width:327px;
    Height:248px;
}
/*сценарии роста бизнеса */
.growth_scenarios_text{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #000000;

    margin-top: 120px;
    margin-left: 316px;
    height: 25px;
    width: 787px;
}

.growth_scenarios{
    margin-top: 52px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 290px;

}
.growth_scenarios_point{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    margin-right: 108px;
    width: 236px;
    height: 20px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
    justify-content: center;
}


.tools_text{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    /* or 100% */

    text-align: center;

    margin-top: 73px;
    margin-left: 194px;
    height: 60px;
    width: 893px;
}
/*про сценарии*/
.about_scenarios {
    width: 1230px;
    height: 788px;
    margin-left: 26px;
    margin-top: 140px;

}
/*интерактивное обучение*/
.interactive_training_title{
    font-family: "Source Code Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
    color: #000000;

    border-bottom: 3px solid #B4ABAB;
    padding-bottom: 20px;
    border-bottom-width: 1px;

    margin-left: 86px;
    height: 25px;
    width: 200px;
}

.interactive_training_text{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    text-align: left;
    top:70px;
    left: 86px;
    margin-top: 5px;
    margin-left: 87px;
    height: 187px;
    width: 513px;
    margin-bottom: 70px;


}
.it_border_img {
    margin-left: 630px;
    margin-top: -355px;
}
.it_bottom{
    margin-left: 86px;
    font-family: "Open Sans", sans-serif, "Segoe UI Semibold";
    font-size: 25px;
    font-weight: 600;
    width: 275px;
    height: 63px;
    justify-content: center;
    align-items: center;
    padding: 22px 32px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;

}
.it_img{
    position: absolute;
    margin-top: -291px;
    margin-left: 402px;
    width: 345px;
    height: 267px;
}
.it_income{
    position: absolute;
    margin-top: -53px;
    margin-left: 747px;
    width: 129px;
    height: 72.88px;
}
.it_border_img  {
    position: absolute;
    margin-top: -311px;
    margin-left: 371px;
    z-index: -1;
}
/*автоматические предзаказы*/
.automatic_pre-orders_title{
    margin-top: 102px;
    margin-left: 630px;
    font-family: "Source Code Pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
    width: 200px;
    border-bottom: 3px solid #B4ABAB;
    padding-bottom: 20px;
    border-bottom-width: 1px;
}
.automatic_pre-orders_text{
    width: 525px;
    height: 150px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-top: 40px;
    margin-left: 630px;
    margin-bottom: 70px;
}
.automatic_pre-orders_bottom{
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    padding: 22px 32px;
    margin-left: 630px;


    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;
}
.po_border{
    position: absolute;
    width: 525px;
    height: 355px;
    margin-top: -294px;
    margin-left: -729px;
}
.po_img{
    position: absolute;
    margin-top: -220px;
    margin-left: -690px;

    width: 346.84px;
    height: 218px;
}
.po_income{
    position: absolute;
    margin-top: -56px;
    margin-left: -351px;

    width: 129px;
    height: 72.88px;
}
/*наши кассы*/
.our_cash_registers{
    display: flex;
    flex-wrap: wrap;
}
.our_cash_registers_title{
    margin-top: 120px;
    margin-left: 496px;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 30px;
}
.our_cash_registers_list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    margin-left: 254px;
    margin-top: 50px;

    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}
.our_cash_registers_point{
    margin-right: 120px;
}
.name_of_the_cash_register{
    margin-left: 100px;
    margin-top: 105px;

    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.title_of_the_cash_register{
    margin-top: 54px;
    margin-left: 115px;

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 40px;

    width: 491px;
    height: 80px;

}
.hr_the_cash_register{
    margin-left: 115px;
    width: 200px;
    margin-top: 19px;
    margin-bottom: 20px;
    border: 3px solid #B4ABAB;
}
.text1_of_the_cash_register{
    margin-left: 115px;

    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 451px;
    line-height: 30px;
    height: 120px;
}
.text2_of_the_cash_register{
    margin-left: 115px;
    margin-top: 12px;
    margin-bottom: 21px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 451px;
    line-height: 30px;
    height: 90px;
}
.bottom_the_cash_register{
    margin-left: 115px;
    margin-right: 890px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 32px;

    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
}
.border_the_cash_register{
    margin-left: -503px;
    margin-top: 120px;
    Width: 514px;
    Height: 533px;
    right: 17px;

}
.border_white_the_cash_register{
    margin-left: -413px;
    margin-top: 253px;
    height: 270px;

}
.the_cash_register{
    width: 313px;
    height: 315px;
    position: absolute;

}
.tcr{
    margin-left: -393px;
    margin-top: 303px;
    width: 399px;
    height: 216.56px;
}
.cost{
    position: absolute;
    margin-top: 669px;
    margin-left: 826px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;

}
.currency{
    position: absolute;
    margin-left: 992px;
    margin-top: 664px;
}
/*выбери то, что нужно тебе*/
.choose_what_you_need{
    height: 836px;
    width: 1078px;
    margin-left: 100px;
}
.choose_what_you_heed_title{
    margin-top: 132px;
    margin-left: 286px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 24px;
}
.choose_what_you_need_list{
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;

    margin-left: 318px;
}
.cwyn_point{
    margin-right: 97px;
}
.choose_what_you_heed_text{
    margin-top: 83px;
    margin-left: 175px;

    width: 930px;
    height: 60px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
/*форма для заполнения*/
.forms{
    display: flex;
    flex-wrap: nowrap;
}
/*левая форма*/
.kkt{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}
.form_to_fill{
    margin-top: 146px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #898989;
}
.kkt_form{
    width: 553px;
    height: 70px;
    padding-left: 8px;
    border-radius: 7px;
    margin-right: 92px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
}
.option_one{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    padding-left: 8px;

    line-height: 25px;
}
.business_growth_scenario_form{
    width: 553px;
    height: 70px;
    margin-top: 10px;


    border-radius: 7px;

    margin-right: 92px;
    box-sizing: border-box;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    padding-left: 8px;
    line-height: 25px;

}
.option_one{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    padding-left: 8px;

}
.add_scenario_a{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    text-decoration: none;
}
.add_scenario{
    margin-left: 14px;

    width: 227px;
    height: 25px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
}
.current_revenue{
    margin-top: 50px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #898989;
}
.revenue_growth_form{
    margin-top: 33px;

}
.rgf_option_one{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #000000;
    font-weight: 400;
    line-height: 25px;
}
/*форма для заявки*/
.application_form{
    margin-top: 152px;
    width: 430px;
    height: 679px;

    background: #FFFFFF;
    box-shadow: 0px 0px 1.0422px rgba(0, 0, 0, 0.08), 0px 1.0422px 12.5065px rgba(0, 0, 0, 0.08);
    border-radius: 7.00547px;
}
.projected_revenue_growth{
    margin-top: 19px;
    margin-left: 23px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #898989;
}
.proceeds{
    margin-top: 31px;
    margin-left: 21px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 11px;
    color: #000000;
}
.proceeds_hr{
    margin-top: 35px;
    margin-left: 23px;

    width: 382px;
    height: 0;
    border: 3px solid #B4ABAB;
}
.total{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 12px;
    font-weight: 400;

    margin-top: 35px;
    margin-left: 23px;
    color: #898989;
}
.expenses{
    font-family: Open Sans, sans-serif;
    font-style: normal;

    margin-top: 58px;
    margin-left: 25px;

    font-weight: 400;
    font-size: 30px;
    line-height: 25px;

    color: #898989;
}
.expenses_on_srb{
    margin-top: 40px;
    margin-left: 21px;

    color: #000000;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 12px;
}
.expenses_kkt{
    margin-top: 61px;
    margin-left: 25px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;

    color: #898989;
}
.expenses_on_kkt{
    margin-top: 40px;
    margin-left: 25px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 12px;
}
.application{
    margin:88px 23px 33px 23px;
    padding: 32px 86px;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;
}
/*footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 389px;
    background-image: url("src/border_footer.svg");
    height: 1069px;
    width: 100%;
}
.contact_information{
    margin-top: 215px;
    margin-left: 100px;
    width: 598px;
    height: 57px;
}
.ci_text {
    width: 561px;
    height: 244px;
    margin-right: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 110%;
}
.footer_list{
    display: flex;
    flex-direction: row;
    list-style-type: none;

    padding-top: 215px;
    padding-inline-start: 0;
}
.footer_list_point{
    margin-right: 69px;
}
.footer_list_action{
    font-family: "Open Sans", sans-serif;

    font-size: 14px;
    line-height: 110%;
    font-weight: 400;
}
.email_phone{
    font-family: "Open Sans", sans-serif;

    border-bottom: solid;
    padding: 5px;
    border-bottom-width: 0.5px;
    width: 294px;

    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
}
.application_form_footer{
    margin-left: 94px;
    margin-top: 201px;

    width: 384px;
    height: 83px;
}

.legal{
    margin-top: 46px;
    width: 618px;
    height: 57px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
}
.footer_application_point{
    list-style-type: none;
    margin-bottom: 10px;
}
.footer_application_point*:focus{
    outline: none;
}
.application_footer{
    padding: 0;
}
.text_input{
    width: 385px;
    height: 70px;

    border-radius: 7px;
}
.text_input{
    padding-left: 8px;
}
.checkbox{
    width: 20px;
    height: 20px;
    margin: 14px;
}
.p_checkbox{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}
.text_input{
    width: 385px;
    height: 70px;

    border-radius: 7px;
}
.label_f, .p_checkbox, .text_input, .leave_request{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.text_input{
    font-size: 25px;
}
.p_checkbox{
    font-size: 18px;
    width: 351px;
    height: 50px;

    margin-bottom: 80px;
}
.checkbox{
    width: 14px;
    height: 14px;
    padding: 15px;
}
.leave_request{
    margin-top: 48px;

    font-weight: 600;
    font-size: 25px;
    line-height: 18px;

    background: #FFFFFF;
    border-radius: 7px;

    padding: 32px 86.5px;
}