<div class="header__wrapper">
  <div class="header">
    <nav>
      <a routerLink="/" class="link">
        <img src="/assets/img/icon_circle.svg" alt="">
        Коллекция
      </a>

      <a routerLink="/" class="link">
        <img src="/assets/img/icon_plus.svg" alt="">
        Добавить
      </a>
    </nav>

    <a routerLink="/" class="logo">
      <img src="/assets/img/logo.svg" alt="">
    </a>

    <div class="actions">
      <app-button>
        <img src="/assets/img/icon_search.svg" alt="">
        Поиск
      </app-button>
      <img class="avatar" src="/assets/img/icon_profile.svg" alt="">
    </div>
  </div>
</div>

